/* Utilities */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.color-white{
    color: #fff;
}

.color-black{
    color: #000;
}

.bg-color-white{
    background-color: #fff;
}

.bg-color-black{
    background-color: #000;
}

.clearfix::after{
content: "";
clear: both;
display: table;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

a{
    text-decoration: none;
}


/* Header */

section.main-header{
height: 80px;
background-color: #255ee9;
}

div.navigation-container{
max-width: 1200px;
height: 100%;
margin: 0 auto;
line-height: 80px;
vertical-align: middle;
font-size: 14px;

}

header.header-box{
    height: 550px;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

nav.webpage-navigation{
    margin: 0 0px;
}

#logo{
    vertical-align: middle;
}

nav.webpage-navigation ul{
    padding: 0 165px;
}

nav.webpage-navigation ul li a{
    margin: 0 20px;
    color: #fff;
}

nav.webpage-navigation ul li a:hover{
    color: #000;
}

nav.webpage-navigation ul li{
    display: inline-block;
}

a.access{
    padding: 10px 15px;
    border-radius: 20px;
}

.second-header-section{
    width: 100%;
    height: calc(100% - 80px);
    position: relative;
}

.second-header-container{
    text-align: center;
    width: 610px;
    margin: 0 auto;
    margin-top: 70px;
}

div.second-header-container > h1{
    font-size: 45px;
    margin: 30px 0;
}

.second-header-container p{
    line-height: 25px;
    margin-bottom: 35px;
}

i{
padding-right:5px;
}

a.header-button{
    margin: 5px;
    padding: 12px 25px;
    border-radius: 30px;
}

/* Main */

main section{
    height: 685px;
    position: relative;
}

div.container{
    height: 80%;
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-side{
    width: 70%;
    height: 100%;
}

div.description-side{
    width: 30%;
    height: 100%;
}

div.description-side h2{
    font-size: 45px;
    padding: 30px 10px 0px;
}

div.description-side p{
    line-height: 30px;
    font-size: 18px;
    padding: 20px 10px;
}